@{
    Layout = null;
}

<h2>Great Personalities</h2>
<ul>
    <li><a href="~/Image/GetImage/1">APJ Abdul Kalam</a> </li>
    <li><a href="~/Image/GetImage/2">Bill Gates</a> </li>
    <li><a href="~/Image/GetImage/3">Mark Zuckerberg</a> </li>
    <li><a href="~/Image/GetImage/4">Steve Jobs</a></li>
    <li><a href="~/Image/GetImage/5">JL</a></li>
    <li><a href="~/Image/GetImage/6">JL</a></li>
    <li><a href="~/Image/GetImage/7">JL</a></li>
    <li><a href="~/Image/GetImage/8">FY</a></li>
    <li><a href="~/Image/GetImage/9">FY</a></li>
    <li><a href="~/Image/GetImage/10">WH</a></li>
    <li><a href="~/Image/GetImage/11">WH</a></li>
    <li><a href="~/Image/GetImage/12">FY</a></li>
    <li><a href="~/Image/GetImage/13">FY</a></li>
    <li><a href="~/Image/GetImage/14">FY</a></li>
</ul>
