@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Stocktake Actions</h1>
<a type="button" class="btn btn-primary" asp-controller="Stocktake" asp-action="AddStocktake" &nbsp;&nbsp;&nbsp;&nbsp;>Add Stock</a>
<a type="button" class="btn btn-primary" asp-controller="Stocktake" asp-action="StocktakeList" &nbsp;&nbsp;&nbsp;&nbsp;>Stocktake List</a>
<a type="button" class="btn btn-primary" asp-controller="Stocktake" asp-action="Archive" &nbsp;&nbsp;&nbsp;&nbsp;>Archive</a>
<a type="button" class="btn btn-primary" asp-controller="Stocktake" asp-action="ViewCurrentStocktake" &nbsp;&nbsp;&nbsp;&nbsp;>Current Stocktake</a>
